### S03 T05: Exploració de les dades

Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## Exercici 1

> Descarrega el data set Airlines Delay: [Airline on-time stat istics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('DelayedFlights.csv')

In [4]:
# Once the dataset is updated, let's go for a quick overview printing the five first 
#and five last rows

In [5]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.tail()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [7]:
# All the data are taken the same year, Genuary to December. The 4 columns for delay 
#causes have lots of NaN (missing values) 
# The DataFrame has almost 2 millions of rows and 30 columns

In [8]:
df.shape

(1936758, 30)

In [9]:
df.index

RangeIndex(start=0, stop=1936758, step=1)

In [10]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1936753    False
1936754    False
1936755    False
1936756    False
1936757    False
Length: 1936758, dtype: bool

In [11]:
# No duplicated values

In [12]:
for x in range(1):
    if x == False:
        print(x)

0

In [13]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [14]:
# With df.info() we have also the data types and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [15]:
# Here Some additional information to help wiht the columns names

__Year__: 2008\
__Month__: 1-12\
__DayofMonth__: 1-31\
__DayOfWeek__: 1 (Monday) - 7 (Sunday)\
__DepTime__: actual departure time (local, hhmm)\
__CRSDepTime__: scheduled departure time (local, hhmm)\
__ArrTime__: actual arrival time (local, hhmm)\
__CRSArrTime__: scheduled arrival time (local, hhmm)\
__UniqueCarrier__: unique carrier code\
__FlightNum__: flight number\
__TailNum__: plane tail number\
__ActualElapsedTime__: in minutes\
__CRSElapsedTime__: in minutes\
__AirTime__: in minutes\
__ArrDelay__: arrival delay, in minutes\
__DepDelay__: departure delay, in minutes\
__Origin__: origin IATA airport code\
__Dest__: destination IATA airport code\
__Distance__: in miles\
__TaxiIn__: taxi in time, in minutes\
__TaxiOut__: taxi out time in minutes\
__Cancelled__: was the flight cancelled?\
__CancellationCode__: reason for cancellation (A = carrier, B = weather, C = NAS, D = security)__weather__, C = NAS, D = security)\
__Diverted__: 1 = yes, 0 = no\
__CarrierDelay__: in minutes\
__WeatherDelay__: in minutes\
__NASDelay__: National Air System delay in minutes\
__SecurityDelay__: in minutes\
__LateAircraftDelay__: in minutes\

In [16]:
# I'm interested to know when is better chance to not get involved in a big delay 
#or cancellation and also the lower delay destinations
# So, I´ll get rid of some of the columns not helping to these purposes.

In [17]:
df.drop(['Unnamed: 0', 'Year', 'Month', 'DepTime', 'ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'FlightNum', 'TailNum', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis = 1, inplace = True)

In [18]:
df.rename(columns = {'DayofMonth': 'DayOfMonth', 'UniqueCarrier': 'Airline'}, inplace = True)
df.head(1)

,DayOfMonth,DayOfWeek,CRSDepTime,CRSArrTime,Airline,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,3,4,1955,2225,WN,116.0,-14.0,8.0,IAD,TPA,810,0,0

In [19]:
#Columns reduced by almost the half, just 13.
df.shape

(1936758, 13)

In [20]:
len(df['Airline'].unique())

20

In [21]:
#The 20 Airlines are:
df['Airline'].unique()

array(['WN', 'XE', 'YV', 'OH', 'OO', 'UA', 'US', 'DL', 'EV', 'F9', 'FL',
       'HA', 'MQ', 'NW', '9E', 'AA', 'AQ', 'AS', 'B6', 'CO'], dtype=object)

In [22]:
# Accumulated departure delay by airline, and the mean and standart deviation.
grouped = df.groupby('Airline')
print(grouped['DepDelay'].agg([np.sum, np.mean, np.std]))

                sum       mean        std
Airline
9E        2457810.0  47.370338  57.395851
AA        8918260.0  46.481953  57.613460
AQ          20010.0  26.680000  34.635951
AS        1504939.0  38.300435  49.157695
B6        3044016.0  55.030570  64.454911
CO        4322280.0  43.138680  54.814179
DL        4462057.0  39.059306  50.031879
EV        3955352.0  48.308463  56.826493
F9         783086.0  27.701227  37.040093
FL        3032082.0  42.535239  52.551021
HA         248102.0  33.124433  60.721973
MQ        6205622.0  43.726198  56.234547
NW        3267642.0  41.306088  70.625712
OH        2576892.0  48.937311  53.717138
OO        5931799.0  44.790943  49.967861
UA        7069279.0  49.985710  56.159739
US        3819499.0  38.806187  47.039010
WN       13109808.0  34.718587  40.810655
XE        5193355.0  50.098444  57.955046
YV        3717346.0  55.430655  58.802726

In [23]:
df.corr()

,DayOfMonth,DayOfWeek,CRSDepTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
DayOfMonth,1.000000,0.017476,0.001019,0.000758,-0.000244,0.004129,0.005289,0.000117,0.004671,0.001190
DayOfWeek,0.017476,1.000000,0.027039,0.017750,0.004738,0.006123,0.008538,0.008138,0.000023,-0.001361
CRSDepTime,0.001019,0.027039,1.000000,0.710303,-0.036582,0.044447,0.058875,-0.029517,0.000023,-0.009096
CRSArrTime,0.000758,0.017750,0.710303,1.000000,0.025907,0.043078,0.053706,0.024335,0.000201,0.000907
AirTime,-0.000244,0.004738,-0.036582,0.025907,1.000000,-0.000189,-0.002753,0.980294,NaN,NaN
ArrDelay,0.004129,0.006123,0.044447,0.043078,-0.000189,1.000000,0.952927,-0.029853,NaN,NaN
DepDelay,0.005289,0.008538,0.058875,0.053706,-0.002753,0.952927,1.000000,-0.007718,0.016542,0.022867
Distance,0.000117,0.008138,-0.029517,0.024335,0.980294,-0.029853,-0.007718,1.000000,-0.005060,0.021692
Cancelled,0.004671,0.000023,0.000023,0.000201,NaN,NaN,0.016542,-0.005060,1.000000,-0.001146
Diverted,0.001190,-0.001361,-0.009096,0.000907,NaN,NaN,0.022867,0.021692,-0.001146,1.000000

In [24]:
# With correlation coefficient we can see, e.g., AirTime has nothing to do with 
#delays, and a lot with Distance. ... Meaning of NaNs here is 'not relation at all'

## Exercici 2

> __Fes un informe complet del dataset:__\
Resumeix estadísticament les columnes d’interès\
Troba quantes dades faltants hi ha per columna\
Crea columnes noves (velocitat mitjana del vol, si ha\ arribat tard o no...)
Taula de les aerolínies amb més endarreriments acumulats\
Quins són els vols més llargs? I els més endarrerits?\
Etc.

In [25]:
df.describe()

,DayOfMonth,DayOfWeek,CRSDepTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06
mean,1.575347e+01,3.984827e+00,1.467473e+03,1.634225e+03,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,3.268348e-04,4.003598e-03
std,8.776272e+00,1.995966e+00,4.247668e+02,4.646347e+02,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,1.807562e-02,6.314722e-02
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00
25%,8.000000e+00,2.000000e+00,1.135000e+03,1.325000e+03,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00,0.000000e+00
50%,1.600000e+01,4.000000e+00,1.510000e+03,1.705000e+03,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.000000e+00,0.000000e+00
75%,2.300000e+01,6.000000e+00,1.815000e+03,2.014000e+03,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,0.000000e+00,0.000000e+00
max,3.100000e+01,7.000000e+00,2.359000e+03,2.400000e+03,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,1.000000e+00,1.000000e+00

In [26]:
# AirTime and ArrDelay got 8387 missing values each
df.count()

DayOfMonth    1936758
DayOfWeek     1936758
CRSDepTime    1936758
CRSArrTime    1936758
Airline       1936758
AirTime       1928371
ArrDelay      1928371
DepDelay      1936758
Origin        1936758
Dest          1936758
Distance      1936758
Cancelled     1936758
Diverted      1936758
dtype: int64

In [27]:
print(df.sort_values('DepDelay', ascending = False))

         DayOfMonth  DayOfWeek  CRSDepTime  CRSArrTime Airline  AirTime  \
686014           10          4        1417        1605      NW    132.0
322516            3          7        1820         555      NW    437.0
839306            6          2        1530        1823      NW    145.0
1009553          20          5        1710        1825      MQ     50.0
1881639          19          5        1325        1546      NW    192.0
...             ...        ...         ...         ...     ...      ...
1276068          11          1        1635        1725      WN    153.0
1276056          11          1        1445        1610      WN     67.0
596596           25          5        2000        2215      WN    111.0
1276055          11          1        1410        1535      WN     68.0
1364282          17          7        2035        2139      FL    103.0

         ArrDelay  DepDelay Origin Dest  Distance  Cancelled  Diverted
686014     2453.0    2467.0    CLT  MSP       930          0         0
322516     2461.0    2457.0    HNL  MSP      3972          0         0
839306     1951.0    1952.0    RSW  DTW      1085          0         0
1009553    1707.0    1710.0    LIT  DFW       304          0         0
1881639    1655.0    1597.0    BOS  MSP      1124          0         0
...           ...       ...    ...  ...       ...        ...       ...
1276068       3.0       6.0    OMA  LAS      1099          0         0
1276056       0.0       6.0    OAK  SAN       446          0         0
596596       -7.0       6.0    MCO  CMH       802          0         0
1276055      -1.0       6.0    OAK  SAN       446          0         0
1364282       6.0       6.0    ATL  MCI       692          0         0

[1936758 rows x 13 columns]

In [28]:
# With the maximum values of Departure Delay column at the top,  we can say that 
#the NW Airline with destination MSP, flying thursday or Sunday, the first week of the month, 
#risks to suffer the bigest delays.

In [30]:
# From 'Distance' and 'AirTime' we can create a new column 'Average Speed'(AvSpeed)
# AvSpeed = Distance / AirTime

df["AvSpeed"] = df["Distance"] / df["AirTime"]
df.head(1)

,DayOfMonth,DayOfWeek,CRSDepTime,CRSArrTime,Airline,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,AvSpeed
0,3,4,1955,2225,WN,116.0,-14.0,8.0,IAD,TPA,810,0,0,6.982759

>__Objectius:__
Anàlisi exploratòria
'Dataframes'

>__Durada:__ 3 dies

>__Lliurament:__
Enviar la URL a un repositori anomenat __estructures_Dataframe__\ que contingui la solució. S'ha d'entregar cada Excercici\ en un mateix fitxer i en un repositori.